<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel='stylesheet' type='text/css' media='screen' href='../css/log-style.css'>
    <link rel="shortcut icon" href="../assets/user.png" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com"/>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;900&display=swap" rel="stylesheet"/>
    <title>Login do professor</title>
  </head>
  <body>
  <div class="container">
    <form id="form" class="form" action="/loginProfessor" method="post">
      <h2>Conectar-se</h2>
       <form id="form" class="form">

        <div class="form-control">
          <label for="email">Email</label>
          <input
            type="email"
            placeholder="Digite seu email" required autofocus/>
        </div>
        <div class="form-control">
   <label for="exampleInputEmail1" class="form-label">Cpf</label>
    <input type="text" name="cpf" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"  placeholder="Digite seu cpf">
    {{!-- <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div> --}}
  </div>
  <div class="form-control">
    <label for="exampleInputPassword1" class="form-label">Senha</label>
    <input type="password" name="senha" class="form-control" placeholder="Digite sua senha">
  </div>
        
        <button type="submit">Enviar</button>
      </form>
    </div>
  </body>
</html>